*{
    margin: 0;
    padding: 0;
    cursor: pointer;
    user-select: none;
}
body{
    overflow-x: hidden;
    background-color: beige;
/*  background: linear-gradient(rgb(63, 204, 63),#5193bf, #017c61);
 */}

 #home-main{
    position: sticky;
    top: 0;
    z-index: 5;
 }
#home-1{
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    /* background-image: url(photos/image5.jpeg); */
    background-color:#3a3c34;
    z-index: 1;
   
}
#home-property{
    height: 70px;
    display: flex;
    flex-direction: row;
    /* background-image: url(photos/image5.jpeg); */
    background-color: #34393c; 
    overflow: hidden;
    z-index:2;
}

#logo{
    width:80px;
    height:80px;
    border-radius: 140px;
    transition: 1.5s;
    
}
#logo-text1{
    margin-top: 5px;
    color: rgb(255, 255, 255);
}
#logo-text2{
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    align-items: center;
}
#logo-text3{
    color:rgb(255, 255, 255) ;
    margin-top: 55px;
    overflow: hidden;
    opacity: 0;
    transition: 2s;
}

#navigation-list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#nave-list1,#nave-list2,#nave-list3,#nave-list4,#nave-list5,#nave-list6{
    color: black;
    text-decoration: none;
    margin: 5px;
    background-color:  white;
    border-radius: 9px;
    text-align: center;
}

#profile{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 10px;
    
    z-index: 1;
    
}
#profile-img{
    border-radius: 50px;
    
}
#profile-info{
    width: 24vw;
    height: 100vh;
    background-color: rgb(145, 155, 158); 
    margin-top: 7px;
    right: -34vw;
    border-radius: 20px 0 20px 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    transition: 1.5s;
    align-items: center;
}
#p-i-table{
    
    border-collapse: collapse;
    width: 19vw;
    height: 40vh;
    
}
#p-i-h3{
    margin-top: 60px;
}

 #profile-info.profileinfo{
    right: 0px;
    transition: 1.5s ;
 }
#nave{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    width: 390px;
    height: 45px;
    align-items: center;
    border-radius: 150px;
    margin-top: 15px;
    transition: left 1.5s;
    position: absolute;
    left:-350px;
    
    background-color: rgb(253, 252, 253);
    
}
#nav1,#nav2,#nav3,#nav4{
    display: flex;
    align-items: center;
    margin-left: 25px;
    padding: 0 5px 0 5px;
    height: 30px;
    border-radius: 10px;
    transform: skew(-25deg);
    
}
#nav-a{
    text-decoration: none;
    list-style-type: none;
    color: black;
    
}
#nav1:hover,#nav2:hover,#nav3:hover,#nav4:hover{ 
    text-decoration: underline;
    box-shadow: 3px 3px 10px gray;
    font-size: large;
    
}
#our-services.our_service{
    opacity: 1;
}
#our-contact.our_contact{
    opacity: 1;
}
#our-aboutus.our_aboutus{
    opacity: 1;
}

#nave.hovered{
    left: 80px;
    transition: 1.5s;
}


#home{
width: 35px;
height: 19px;
display: flex;
flex-direction:column;
gap: 5px;
cursor: pointer;
margin-left: 30px;
position: relative;
top: 25px;
margin-bottom: 40px;
margin-right: 10px;
z-index: 1;

}
#home:hover{
    box-shadow: 4px 5px 5px rgb(147, 145, 148);
}
#logo.logohovered{
    margin-left: 400px;
    transition: 1.5s;
}
#logo-text3.logo3{
    opacity: 1;
    transition: 2s;
}
.home-line1{
    
    width: 35px;
    height: 3px;
    background-color: white;
    border-radius:5px 5px 0 0;

}
.home-line2{
    
    width: 35px;
    height: 3px;
    background-color: white;

}
.home-line3{
    
    width: 35px;
    height: 3px;
    background-color: white;
    border-radius:0 0 5px 5px ;

}
#pinfo-btn{
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background-color: aqua;
    margin-top: 50px;
}
#intro{
    display: flex;
    margin-left: 75px;
    padding: 10px;
    font-weight: bold;
}
#turf-visit{
    width: 80vw;
    height:65vh;
    background-color: white;
    margin-left: 10vw;
    margin-top: 25px;
    border-radius: 25px;
    display: block;
}
#turf-visit-img{
    display: block;
    width: 80vw;
    height: 65vh;
    margin: 0 auto;
    
    border-radius: 25px;
    
}
#arrow-mark1{
   width: 75px;
   height: 75px;
   border-top: 3px solid rgb(0, 0, 0);
   border-right: 3px solid rgb(0, 0, 0);
   transform: rotate(45deg);
   margin-top: 45.7vh; 
   margin-left: 19vw; 
   background-color:  rgb(218, 229, 240);;
   transition: 1.5s;
   position: absolute;
   opacity: 0;
}

#arrow-mark2:hover{
    background-color: aliceblue;
    width: 44vw;
    color: rgb(0, 0, 0);
    justify-content: center;
    transition: 1.5s;
    
}
#arrow-mark2:hover > #arrow-mark-span{
    opacity: 1;
}
#arrow-mark2:hover ~ #arrow-mark1{
    background-color: aliceblue;
    margin-left: 57vw;
    transition: 1.5s;
    opacity: 1;
    position: absolute;
    display: flex;
    
}

#arrow-mark2{
    width: 90px;
    height: 75px;
    background-color: rgb(218, 229, 240);
    border-top: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
    border-left: 3px solid rgb(0, 0, 0);
    margin-top: 45.7vh;
    margin-left: 15vw;
    position: absolute;
    z-index: 3;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    align-items: center;
    font-size: larger;
    font-weight:bolder;
    font-family: monospace;
    transition: 1.5s;
}

#col2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:5vw;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 50px;
    
    
}
@property --angle{
    syntax: "<angle>";
        initial-value: 0deg;
        inherits: false;
}

#turf-owner{
    width: 25vw;
    height:40vh;
    background-color: white;
    margin-top: 35px;
    margin-bottom: 35px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px gray;
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
    
}
#turf-owner-background.background{
    width: 25vw;
    height: 40vh;
    background:conic-gradient(from var(--angle),transparent 30%,black);
    z-index: -1;
    padding: 10px;
    position: absolute;
    border-radius: 25px;
    animation: 1.5s spin linear 1; 
}
    
#cancel-booking{
    width: 25vw;
    height:40vh;
    background-color: white;
    margin-top: 35px;
    margin-bottom: 35px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px gray;
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
    
}
#cancel-booking-background.background{
    width: 25vw;
    height: 40vh;
    background:conic-gradient(from var(--angle),transparent 30%,black);
    z-index: -1;
    padding: 10px;
    position: absolute;
    border-radius: 25px;
    animation: 1.5s spin linear 1; 
}
#offered-turf{
    width: 25vw;
    height:40vh;
    background-color: white;
    margin-top: 35px;
    margin-bottom: 35px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 25px;
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
}

#offered-turf-background.background{
    width: 25vw;
    height: 40vh;
    background:conic-gradient(from var(--angle),transparent 30%,black);
    z-index: -1;
    padding: 10px;
    position: absolute;
    border-radius: 25px;
    animation: 1.5s spin linear 1; 
}
 #col3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:5vw;
    margin-top: 20px;
    /* box-shadow: 5px 5px 15px gray; */
  
}

#rewards{
    width: 25vw;
    height:40vh;
    background-color: white;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px gray;
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
}  
#rewards-background.background{
    width: 25vw;
    height: 40vh;
    background:conic-gradient(from var(--angle),transparent 30%,black);
    z-index: -1;
    padding: 10px;
    position: absolute;
    border-radius: 25px;
    animation: 1.5s spin linear 1; 
}
#review-rating{
    width: 25vw;
    height:40vh;
    background-color: white;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px gray;
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
}
#review-rating-background.background{
    width: 25vw;
    height: 40vh;
    background:conic-gradient(from var(--angle),transparent 30%,black);
    z-index: -1;
    padding: 10px;
    position: absolute;
    border-radius: 25px;
    animation: 1.5s spin linear 1; 
}
#history{
    width: 25vw;
    height:40vh;
    background-color: white;
    margin-top: 25px;
    margin-bottom: 25px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 25px;
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;

}
#history-background.background{
    width: 25vw;
    height: 40vh;
    background:conic-gradient(from var(--angle),transparent 30%,black);
    z-index: -1;
    padding: 10px;
    position: absolute;
    border-radius: 25px;
    animation: 1.5s spin linear 1; 
}  
@keyframes spin {
    from{
        --angle:0deg
    }
    to{
        --angle:360deg;
    }
    
}
#our-info{
    display: flex;
    flex-direction: row;
    gap: 6vw;
    
    
}
#total-info{
    width: 100vw;
    height: 25vh;
    background-color: aqua;
    margin-top: -26.5vh;
    position: absolute;
    z-index: -1;
    display: flex;
    
    
}
#total-info.total_info{
    margin-top: 0px;
    transition: 1.5s;
}
#our-services,#our-contact,#our-aboutus{
    
    border: 2px solid black;
    padding: 10px;
    opacity: 0;
    position: absolute;
    margin-bottom: 20px;
}



#social-media{
    display: flex;
    flex-direction: row;
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: large;
    gap :10px;
}
#social-media>a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#social-media > a:hover{
    text-decoration: underline;
}



/* 
want to study
#navegation-lists{
    display: flex;
    justify-content: center;
    align-items: center;
}

#navigation-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

#nave-list1,#nave-list2,#nave-list3,#nave-list4,#nave-list5,#nave-list6{
    color: black;
    text-decoration: none;
    margin: 5px;
    background-color:  white;
    border-radius: 9px;
    text-align: center;
    width: 150px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
} */