#head{
    width: 90vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(113, 86, 100);
    color: black;
    font-size: 24px;
    margin-left: 5vw;
}
#main{
    display: flex;
   width: 100vw;
   height: 100vh;
    align-items: center;
    justify-content: center;
}
#main-1{
    background-color: antiquewhite;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.points{
    font-size: 55px;

    
}